.city {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: 300px;
  border: black 1px solid;
  padding: 0px 20px;
  margin: 20px 0px;
  justify-content: space-evenly;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  width: 10%;
  background-color: white;
  border: 0px;
}

button:hover {
  cursor: pointer;
}